<!DOCTYPE html>
<html>
<head>
    <title>Flask Render Örneği</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="container">
      <div class="header_wrap">
        <div class="num_rows">	
			<div class="form-group"> 	<!--		Show Numbers Of Rows 		-->
		 		<select class  ="form-control" name="state" id="maxRows"> 
					 <option value="10">10</option>
					 <option value="15">15</option>
					 <option value="20">20</option>
					 <option value="50">50</option>
					 <option value="70">70</option>
					 <option value="100">100</option>
        			 <option value="5000">Show ALL Rows</option>
				</select>
		  	</div>
        </div>
        <div class="tb_search">
<input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
        </div>
      </div>
<table class="table table-striped table-class" id= "table-id">
  
	
	<thead>
		<tr>
			<th>Name</th>
			<th>Version</th>
			<th>Status</th>
			<th>Created Date</th>
			<th>Updated Date</th>
		</tr>
  	</thead>
	<tbody>
	{% for image in images %}
        <tr>
			<td>{{ image['name'] }}</td>
			<td>{{ image['version'] }}</td>
			<td>{{ image['status'] }}</td>
			<td>{{ image['created_date'] }}</td>
			<td>{{ image['updated_date'] }}</td>
		</tr>
    {% endfor %}
    <tbody>
</table>

<!--		Start Pagination -->
			<div class='pagination-container'>
				<nav>
				  <ul class="pagination">
				   <!--	Here the JS Function Will Add the Rows -->
				  </ul>
				</nav>
			</div>
      <div class="rows_count">Showing 11 to 20 of 91 entries</div>
</div> <!-- 		End of Container -->

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}" defer></script>
<!--  Developed By Yasser Mas -->
</body>
</html>